body {
  margin-top: 30px;
}
.bag-list {
  list-style: none;
  padding: 0;
}

.bag-item {
  display: flex;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.back-home-bag{
  position: absolute;
  top: 20px;
  left:150px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  padding: 10px;
}

.back-home-bag:hover {
  background-color: #0d6efd;
  text-decoration: none;
}

.bag-item-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.bag-item-details {
  flex: 1;
}

.bag-item-content {
  display: flex;
  align-items: center;
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}
