body {
  margin-top: 30px;
}
.bag-list {
  list-style: none;
  padding: 0;
  width: 70%;
  margin-right: 2;
}

.bag-item {
  display: flex;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}
.item-paragraph{
  margin-left: 5.5rem;
}

.back-home-bag{
  position: absolute;
  top: 20px;
  left:150px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  padding: 10px;
  font-size: 10px;
  margin-left: -2rem;
}
.check-yourbag-h1 {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.back-home-bag:hover {
  background-color: black;
  text-decoration: none;
  color: white;
}

.bag-item-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.bag-item-details {
  flex: 1;
}

.bag-item-content {
  display: flex;
  align-items: center;
  
}

button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}
.container {
  margin-left: 10rem;
  margin-right: 8rem;
  width: 80%;
}