.checkout-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 5rem;
    margin-left: 15rem;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .user-info,
  .payment-info,
  .billing-info,
  .gift-card-info {
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  
  h3 {
    color: #444;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  button {
    background-color: white;
    color: black;
    border: 1px solid #333;
    border-radius: 11px;
  }
  
  .change-buttons {
    float: right;
  }
  
  .user-info, .payment-info, .billing-info, .gift-card-info {
    position: relative;
  }
  
  .change {
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 10%;
    padding: 0.5rem;
    font-size: 8px;
  }
  