/* Homepage.css */

.bag-button {
  background-color: black;
  color: white;
  border: 0rem solid white;
  border-radius: 10%;
  margin-top: 0.5rem;
}

.search-button {
  background-color: black;
  color: white;
  border-radius: 10%;
  border: none;
  margin-left: 1%;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.product-list {
  margin-left: 12%;
  margin-right: 10%;
}

.card {
  border-radius: 1rem;
  border: 0rem solid white;
  width: calc(33.33% - 1rem);
  margin-bottom: 1.5rem;
}

/* .card-img-top {
  border-radius: 20px;
  width: 100%;
  height: auto;
} */

/* .card-images{
  width: 200px;
  height: 250px;

} */

.card-body {
  background-color: #e5e5e5;
}

.search-item {
  text-align: center;
}

.search-bar {
  width: 25%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: 0rem solid white;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.search-item-label {
  color: grey;
  margin-left: -20rem;
  margin-top: 2rem;
}

.cards {
  margin-right: 10rem;
  margin-left: 3rem;
}

.card-body p {
  margin-bottom: 0.5rem;
}
