/* ProductDetails.css */

.product-details-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
}

.product-img-info {
  display: flex;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 30rem;
}

.product-img {
  max-width: 300px;
  margin-right: 20px;
  border-radius: 5%;
}

.product-info {
  flex: 1;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  color: #333;
}

.product-title h1 {
  font-size: 30px;
  margin: 0 0 10px;
  font-weight: bolder;
}

.product-description {
  font-size: 16px;
  margin: 0 0 8px;
  color: #333; /* Adjust color as needed */
}

.product-rating {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  margin-bottom: 8px;
}

.add-to-bag-link {
  text-decoration: none;
}

.add-to-bag-button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
}

.add-to-bag-button:hover {
  background-color: #0056b3;
}

.back-home-link {
  text-decoration: none;
}

.back-home-button {
  position: absolute;
  top: 20px;
  left: 150px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  padding: 10px;
}

.back-home-button:hover {
  background-color: #0d6efd;
}

.product-specs-list {
  margin-top: 20px;
  font-size: 14px;
}

.spec-item {
  border: none;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #e5e5e5;
  margin-bottom: 8px;
}

.specs-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }

  .product-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
  }
}
