.product-details {
  display: flex;
  align-items: center;
}

.product-img {
  max-width: 300px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.add-to-bag{
  background-color: black;
  border: none;
}
