* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  margin-bottom: 10%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;

}

h1 span {
  color: white;
  background: green;
  padding: 10px 20px;
  display: table-cell;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
  animation: animate 0.5s infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Media queries and span animations... (same as before) */
